In [1]:
import numpy as np
import pandas as pd

In [2]:
arr1 = np.array([1, None, 3, 4])
arr1

array([1, None, 3, 4], dtype=object)

In [3]:
arr3 = np.array([1, np.nan, 3, 4])
arr3.dtype

dtype('float64')

In [4]:
ser=pd.Series([1, np.nan, 2, None])
ser

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [5]:
print(ser.isnull())

0    False
1     True
2    False
3     True
dtype: bool

In [6]:
print(ser.notnull())

0     True
1    False
2     True
3    False
dtype: bool

In [7]:
ser.dropna(how='all')

0    1.0
2    2.0
dtype: float64

In [11]:
df=pd.DataFrame([[1,np.nan,2],
                [2,3,5],
                [np.nan,4,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [12]:
df.dropna(axis='columns',how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [14]:
ser = pd.Series([1, np.nan, 2, None, 3],
index=list('abcde'))
ser

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [15]:
ser.fillna(9999)

a       1.0
b    9999.0
c       2.0
d    9999.0
e       3.0
dtype: float64

In [17]:
ser.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [18]:
ser.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64