In [3]:
import pandas as pd
import numpy as np

In [6]:
pd.__version__

'1.2.4'

In [9]:
ser=pd.Series([0.25,0.5,0.75,1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
arr=ser.values
ind=ser.index
print(arr)
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [20]:
ser=pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(ser)
ser['b']

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.5

In [32]:
population_dict={'California':38332521,
                'Texas':26448193,
                "New York":19651127,
                'Florida':19552860,
                'Illinois':12882135}
population=pd.Series(population_dict)
print(population)
print(population['California':"New York"])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [34]:
area_dict={'California':423967,
                'Texas':695662,
                "New York":141297,
                'Florida':170312,
                'Illinois':149995}
area=pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [42]:
states=pd.DataFrame({'population':population,'area':area})
print(states)
print(states.index)
print(states.columns)

SyntaxError: invalid syntax (<ipython-input-42-eeeb5298174c>, line 5)

In [53]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [44]:
arr=np.random.rand(3,2)
print(arr,'\n')

pd.DataFrame(arr,columns=['foo','bar'],index=['a','b','c'])

[[0.11966133 0.92039271]
 [0.22451217 0.22228486]
 [0.5486137  0.42882073]]

        foo       bar
a  0.119661  0.920393
b  0.224512  0.222285
c  0.548614  0.428821

In [48]:
ser=pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])

print(ser,'\n')
print('a' in ser)
print(0.25 in ser)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

True
False

In [51]:
print(ser.keys())
ser['e']=1.25
ser['a']=0.125
print(ser)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [56]:
states['density']=states['population']/states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [59]:
states.loc['California':'New York']
states.iloc[2:4]

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121

In [62]:
print(states.loc[states.density>100,['population','density']])

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121